<html>
<head>
<title>Bharath Raj Blog</title> 
</head>
<body>
	<div>
<h1><a href="/">Bharath Raj Blog</a></h1> 
	</div>
		<div>
			<p>Published Date: 10.06.2020, 12:51 </p>
			<h2><a href="">   My First Post  </a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi po
			rta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum mass a justo sit amet risus.</p>
		</div>
				<div>
					<p>Published Date: 10.06.2020, 12:51 </p>
					<p>Author : Bharath Raj </p>
					<h2><a href="">   My Second Post  </a></h2>
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi po
					rta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
				</div>
					 	<div>
						<p>Published Date: 10.06.2020, 12:51 </p>
						<p>Author : Bharath Raj </p>
						<h2><a href="">   My Third Post   </a></h2>
			   			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi po
						rta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum mass a justo sit amet risus.</p>
						</div>
</body>

</html>